
.main{
    @apply w-screen min-h-screen whitespace-nowrap;
}

.intro{
    @apply w-screen h-screen flex justify-center items-center bg-cover;
    background-image: url('https://images.unsplash.com/photo-1498511225742-7831d53e64b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
}

.content{
    @apply relative p-10 bg-black text-white opacity-75 rounded-3xl shadow-xl w-2/3 h-96 flex flex-col items-center justify-center animate-spawn
    md:w-1/2;
}

.boat{
    @apply w-44 h-28 absolute -bottom-8 -right-16 lg:w-52 lg:h-36 animate-boat;
}

.flower{
    @apply w-32 h-32 absolute -top-12 -left-8 animate-flower;
}

.intro-image{
    @apply p-20 bg-cover rounded-full relative mb-8 md:p-24;
    background-image: url('../images/elley-icon.png');
}

.intro-description{
    @apply text-center;
}

.title{
    @apply text-base tracking-wider mb-8
    lg:text-2xl;
}

.intro-image__indicate{
    @apply absolute p-3 bottom-4 right-2 bg-green-300 border-4 border-black rounded-full;
}

.socials{
    @apply flex justify-center items-center gap-4;
}

.social{
    @apply bg-cover w-8 h-8 transition-all
    hover:scale-125 hover:brightness-125; 
}

.social__youtube{
    background-image: url('../images/svg/youtube.svg');
}

.social__discord{
    background-image: url('../images/svg/discord.svg');
}

.social__telegram{
    background-image: url('../images/svg/telegram.svg');
}
