.nav{
    @apply z-20 scale-50 relative w-345 h-690 bg-cover flex justify-start items-center flex-col
    md:scale-100;
    background-image: url('../images/iPhone.png');
}

.image{
    @apply relative w-150 h-150 rounded-full mt-32 mb-8 bg-cover;
    background-image: url('../images/elley-icon.png');
}

.indicator{
    @apply p-3 absolute bg-green-400 border-4 border-background
    bottom-2 right-2 rounded-full;
}

.list{
    @apply text-center;
}

.list-item{
    @apply text-grayE text-xl uppercase tracking-wider my-3 border-b-2 border-b-transparent transition-all
    hover:border-b-grayE;
}

.list-item-selected{
    @apply text-xl text-blue-300 uppercase tracking-wider my-3 scale-110 transition-all;
}

.footer{
    @apply text-zinc-500 uppercase tracking-wider text-sm
    absolute bottom-8;
}